<div class="w-full max-w-sm rounded-xl overflow:hidden place-self-center shadow-xl mb-8">
  <div class="image overflow-hidden rounded-t-2xl">
    {{ 'product-1' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-100' }}
  </div>
  <div class="product-info flex flex-col p-5 justify-center text-center">
    <h1 class="text-gray-600 font-medium text-xl">COLLECTION TITLE</h1>
  </div>
</div>
