*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
max-width: 1390px;
width: 100%;
margin-inline: auto;
}

.w-full{
    width: 100%;
} 

.h-full{
    height: fit-content;
} 

.object-cover{
    object-fit: cover;
}

.grid {
    display: grid;
}

.homepage {
    text-align: center;
    padding-top: 10em;
}
