/* swiper */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
}

.product .product__media {
    overflow: hidden;
    max-height: 500px;
}

.product .product__media img {
    height: 500px;
}

.product__quantity input {
  max-width: 100px;
}
@media (max-width: 767px) {
  .product .grid {
    grid-template-columns: 1fr;
  }
 
  .product .product__media{
    padding: 10px;
  }
}
