{{ 'search.css' | asset_url | stylesheet_tag }}
{% paginate search.results by 10 %}
  {% if search.performed %}
    {% if search.results_count > 0 %}
      <div class="w-full flex justify-center mt-10">
        <p>
          {{ search.results.size }} results for the search term:
          <span class="font-medium">{{ search.terms | escape }}</span>
        </p>
      </div>
      <div class="container search-results my-8 grid gap-7 mx-auto justify-center px-2 md:px-5 lg:px-0">
        {% for item in search.results %}
          {% case item.object_type %}
            {% when 'product' %}
              {% render 'product_card', product: item %}
          {% endcase %}
        {% endfor %}
      </div>
    {% else %}
      <div class="w-full text-center my-10 no-results">There are no results</div>
    {% endif %}
  {% endif %}

  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
